html {
    height: 100%;
    width: 100%;
    display: table;
}

body {
    display: table-cell;
    min-height: 100%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #8B8574;
    color: #28283e;
}

/*Paleta:*/
/*https://www.colourlovers.com/palette/1664726/The_Four_Horsemen*/

/*-----Header-----*/

.headerRooms {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    font-weight: 500;
}

.websiteHeader {
    background-color: #574357;
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.70);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
}

#logo {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #cbcb95;
    margin: 0 30px 0 10px;
}

.mainNavBar {
    margin-right: auto;
}

/*-----Footer-----*/

.websiteFooter {
    background-color: #574357;
    width: 100%;
    /*min-height: 85px;*/
}

.footerRooms {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    color: papayawhip;
    padding: 10px 15px;
}

/*-----Main Container-----*/

.mainContainer {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    /*padding: 15px 15px;*/
    background-color: #f2f2f2;
}

/*-----Pictures Grid-----*/

.grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/*.grid::after {*/
/*content: '';*/
/*flex-grow: 999999999;*/
/*}*/

.grid > figure {
    margin: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
    z-index: 0;
    border: 1px solid black;
}

.grid > figure.loaded:hover {
    border-radius: 10px;
    transform: scale(1.03);
    z-index: 5;
}

.grid figure a img {
    height: 280px;
}

/*-------------------WEB ELEMENTS----------------------------------*/

.h3FotoPx {
    background-color: #827e4a;
    color: white;
    padding: 10px 15px;
    margin: 0;
}

.h5FotoPx {
    background-color: #aba76c;
    color: white;
    padding: 10px 15px;
    margin: 0;
}

h6 {
    font-weight: 700;
}

.errorMessage {
    width: 100%;
    text-align: center;
    color: red;
    margin-top: 150px;
}

/*-------------------PICTURE VIEW------------------------*/
.pictureView {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    /*overflow: hidden;*/
}

.sliderLeft, .sliderRight {
    font-size: 100px;
    font-weight: 900;
    background-color: #4e555b;
    opacity: 0.5;
    border-radius: 20px;
    padding: 0 5px;
    position: absolute;
}

.sliderLeft {
    transform: translateX(580px);
}

.sliderRight {
    transform: translateX(-580px);
}

.userInfoPictureView {
    margin: 0;
    padding: 10px;
    background-color: #dad8be;
    color: #574357;
    width: 100%;
}

.pictureTitle {
    text-align: center;
}

.userAvatar {
    height: 100px;
    width: 100px;
    float: right;
    margin-left: 15px;
}

.userFollow {
    float: right;
}

.userFollow p {
    font-size: 22px;
    text-align: right;
    width: 100%;
}

.userFollow button {
    float: right;
}

/*------------Picture comments-----------*/
.pictureComments {
    padding: 10px;
    box-sizing: border-box;
}

.commentAvatar {
    height: 80px;
    width: 80px;
    border-radius: 5px;
}

li.comments {
    padding: 10px;
    text-align: left;
}

li.comments a {
    font-weight: bold;
    display: block;
    width: auto;

}

li.comments div {
    background-color: #dee2e6;
    padding: 5px;
    display: block;
    border-radius: 5px;
}

.pictureExif {
    border-left: lightgray solid 1px;
}

.pictureViewH4 {
    width: 100%;
    /*background-color: #aba76c;*/
    color: gray;
    padding: 10px 15px;
    margin: 0;
    text-align: left;
}

h4.pictureViewH4 ~ button {
    margin: 5px;
}

/*-----------------USER PAGE----------------------------*/