html {
    height: 100%;
    width: 100%;
    display: table;
}

body {
    display: table-cell;
    min-height: 100%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #8B8574;
    color: #28283e;
}

/*Paleta:*/
/*https://www.colourlovers.com/palette/1664726/The_Four_Horsemen*/

/*-----Header-----*/

.headerRooms {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    font-weight: 500;
}

.websiteHeader {
    background-color: #574357;
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.70);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
}

#logo {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #cbcb95;
    margin: 0 30px 0 10px;
}

.mainNavBar {
    margin-right: auto;
}

/*-----Footer-----*/

.websiteFooter {
    background-color: #574357;
    width: 100%;
    /*min-height: 85px;*/
}

.footerRooms {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    color: papayawhip;
    padding: 10px 15px;
}

/*-----Main Container-----*/

.mainContainer {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    /*padding: 15px 15px;*/
    background-color: #f2f2f2;
}

/*-----Pictures Grid-----*/

.grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.grid > figure {
    margin: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
    z-index: 0;
    border: 1px solid black;
    overflow: hidden;
}

.grid > figure.loaded:hover {
    border-radius: 10px;
    transform: scale(1.03);
    z-index: 5;
}

.grid figure a img {
    height: 280px;
    width: 100%;
}

/*-----Users Avatars Grid-----*/

.gridAvatar {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.gridAvatar > figure {
    margin: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
    z-index: 0;
    border: 1px solid black;
    box-sizing: border-box;
}

.gridAvatar > figure.loaded:hover {
    border-radius: 10px;
    transform: scale(1.03);
    z-index: 5;
}

.gridAvatar figure a img {
    height: 250px;
    box-sizing: border-box;
}

.allUsersAvatarInfo {
    color: white;
    font-size: 18px;
    background-color: #5a6268;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 10px;
}

/*-------------------WEB ELEMENTS----------------------------------*/

.h3FotoPx {
    background-color: #827e4a;
    color: white;
    padding: 10px 15px;
    margin: 0;
}

.h3FotoPx a {
    color: white;
}

.h5FotoPx {
    background-color: #aba76c;
    color: white;
    padding: 10px 15px;
    margin: 0;
}

h6 {
    font-weight: 700;
}

.errorMessage {
    width: 100%;
    text-align: center;
    color: red;
    margin-top: 150px;
}

/*-------------------PICTURE VIEW------------------------*/
.pictureView {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.pictureView:hover .sliderLeft, .pictureView:hover .sliderRight {
    opacity: 0.6;
    transition: 0.3s;
}

.sliderLeft, .sliderRight {
    font-size: 100px;
    font-weight: 900;
    background-color: #4e555b;
    opacity: 0;
    border-radius: 20px;
    padding: 0 5px;
    position: absolute;
    color: lightgoldenrodyellow;
}


.sliderLeft {
    left: 0;
    margin-left: 5px;
}

.sliderRight {
    right: 0;
    margin-right: 5px;
}

.sliderContext {
    float: right;
    color: lightgoldenrodyellow;
}

.userInfoPictureView {
    margin: 0;
    padding: 10px;
    background-color: #dad8be;
    color: #574357;
    width: 100%;
}

.pictureTitle {
    text-align: center;
}

.userAvatar {
    height: 100px;
    width: 100px;
    float: right;
    margin-left: 15px;
}

.userFollow {
    float: right;
}

.userFollow p {
    font-size: 22px;
    text-align: right;
    width: 100%;
}

.userFollow button {
    float: right;
}

/*------------Picture comments-----------*/
.pictureComments {
    padding: 10px;
    box-sizing: border-box;
}

.commentAvatar {
    height: 80px;
    width: 80px;
    border-radius: 5px;
}

li.comments {
    padding: 10px;
    text-align: left;
}

li.comments a {
    font-weight: bold;
    display: block;
    width: auto;

}

li.comments div {
    background-color: #dee2e6;
    padding: 5px;
    display: block;
    border-radius: 5px;
}

.pictureExif {
    border-left: lightgray solid 1px;
}

.pictureViewH4 {
    width: 100%;
    /*background-color: #aba76c;*/
    color: gray;
    padding: 10px 15px;
    margin: 0;
    text-align: left;
}

.tagButton {
    margin: 5px;
}

.addPictureComment {
    width: 100%;
}

.addPictureCommentBox {
    margin-bottom: 0;
}

.commentInput {
    margin-bottom: 7px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    min-height: 50px;
    overflow: hidden;
}

.buttonAddComment {
    float: right;
    margin-bottom: 4px;
}

.pictureComment {
    width: 100%;
}

/*--------------Picture Rating-----------------------------*/

.PictureRating {
    direction: rtl;
    margin-left: 17px;
}

.PictureRating input {
    position: absolute;
    left: -999999px;
}

.PictureRating > label {
    display: inline-block;
    font-size: 20px;
    color: lightgray;
}

.PictureRating > label:hover,
.PictureRating > label:hover ~ label:before,
.PictureRating > label.selected,
.PictureRating > label.selected ~ label:before {
    color: #f0ad4e;
}

/*-----------------USER PAGE----------------------------*/
.userInfoUserPage {
    width: 100%;
}

.userInfoPageSubDiv {
    margin-top: 10px;
    margin-bottom: 0;
}

.userPageAvatar {
    /*max-width: 250px;*/
    /*max-height: 250px;*/
}

.h3FotoPx div {
    display: inline-block;
}

.h3FotoPx div + button {
    display: inline-block;
    float: right;
}

.aboutMeDiv {
    margin: 0 10px;
    border-top: 1px solid lightgray;
}

/*----------------USER REGISTRATION--------------------*/
.registerMainDiv {
    padding: 0 10px;
}

.registerLeftDiv, .registerRightDiv {
    padding: 10px 30px;
}

.registerLeftDiv {
    border-right: 1px solid lightgray;
}

.formGroupFotoPX {
    color: #28283e;
    margin-bottom: 5px;
}

.privacyDiv {
    display: inline-block;
}

.privacyDivLeft {
    width: 66%;
    margin-right: 10px;
}

.privacyDivRight {
    width: 30%;
}

.noPicture {
    width: 200px;
    height: 200px;
    border: rgb(222, 226, 230) 1px solid;
    margin: 0;
    padding: 0;
    display: table;
    float: right;
}

.noPicture i {
    color: rgb(222, 226, 230);
    font-size: 170px;
    align-content: baseline;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.avatarUpload {
    float: right;
    width: 50%;
    margin-top: 60px;
}

.aboutMeLabel {
    width: 100%;
}

.registerButton {
    margin-top: 10px;
    margin-left: 25px;
}

ul.errorlist {
    margin: 0;
    list-style: none;
    color: red;
    padding: 0;
    font-size: 14px;
    font-style: italic;
}

.errorMessageUserForm {
    margin: 0;
    color: red;
    padding: 0;
    font-size: 14px;
    font-style: italic;
}

/*----------------LOGIN PAGE--------------------*/

.LoginPage {
    display: flex;
    justify-content: center;
}

.loginForm {
    width: 30%;
    margin-top: 10%;
}

.msgLogin {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
}

.navBarAvatar {
    height: 60px;
    width: 60px;
    border-radius: 20px;
}

.loginNavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

/*----------------ADD PICTURES------------------*/
.addPicturesDiv {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.formAddPicture {
    display: block;
    margin-top: 30px;
}

.pictureUpload {
    width: 100%;
}

.uploadPicBtn {
    margin-top: 10px;
}

.pictureUpload {
    margin-bottom: 20px;
}