{% include  "header.html" %}

<h3 class="h3FotoPx">Kategoria: <a
        href="/kategoria/{{ picture.picture_category_id.category_slug }}/{{ picture.picture_category_id_id }}">{{ picture.picture_category_id }}</a>
</h3>

<div class="pictureView">
    <div class="sliderRight">&lt</div>
    <img class="img-fluid" src="{{ picture.picture.url }}" alt="">
    <div class="sliderLeft">&gt</div>
</div>
<div class="row userInfoPictureView">
    <div class="pictureTitle col-8">
        <h6>{{ picture.title }}</h6>
        <p>{{ picture.description }}</p>
    </div>
    <div class="userAvatarDiv col-4">
        <a href="/{{ owner.slug }}">
            <img class="userAvatar" src="{{ owner.avatar_picture.url }}"
                 alt=" {{ picture.picture_user_id.first_name }} {{ picture.picture_user_id.last_name }}"></a>
        <div class="userFollow">
            <a href="/{{ owner.slug }}">
                <p>{{ picture.picture_user_id.first_name }} {{ picture.picture_user_id.last_name }}</p></a>
            <button type="button" class="btn btn-primary">follow</button>
        </div>
    </div>
</div>
<div class="row pictureComments">
    <div class="col-6">
        <ul class="list-unstyled">
            {% for comment in comments %}
                {% for commenter in commenters_array %}
                    {% if commenter.user_id == comment.commenter.id %}
                        <li class="media comments">
                            <a href="/{{ commenter.slug }}">
                                <img class="mr-3 commentAvatar" src="{{ commenter.avatar_picture.url }}" alt="">
                            </a>
                            <div>
                                <a href="/{{ commenter.slug }}">{{ commenter.name }}</a>
                                <div class="media-body">
                                    {{ comment.comment }}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <div class="pictureExif col-6">
        <h4 class="pictureViewH4">Oceń zdjęcie</h4>
        <h1>*****</h1>
        <h4 class="pictureViewH4">Statystyka:</h4>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">średnia ocena:</th>
                <td>{{ picture_rating }}</td>
            </tr>
            <tr>
                <th scope="row">liczba odsłon</th>
                <td>{{ picture.views }}</td>
            </tr>
            <tr>
                <th scope="row">Dodano</th>
                <td>{{ picture.upload_date |date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <th scope="row">Kategoria</th>
                <td>
                    <a href="/kategoria/{{ picture.picture_category_id.category_slug }}/{{ picture.picture_category_id_id }}">{{ picture.picture_category_id }}</a>
                </td>
            </tr>
            </tbody>
        </table>


        <h4 class="pictureViewH4">Dane techniczne zdjecia:</h4>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Aparat:</th>
                <td>{{ picture.camera_make }}</td>
            </tr>
            <tr>
                <th scope="row">Obiektyw</th>
                <td>{{ picture.lens }}</td>
            </tr>
            <tr>
                <th scope="row">Ogniskowa</th>
                <td>{{ picture.focal_length }} mm</td>
            </tr>
            <tr>
                <th scope="row">Przeslona:</th>
                <td>f/{{ picture.f_stop }}</td>
            </tr>
            <tr>
                <th scope="row">Czas naświetlania</th>
                <td>{{ picture.shutter_speed }}</td>
            </tr>
            <tr>
                <th scope="row">ISO</th>
                <td>{{ picture.ISO }}</td>
            </tr>
            </tbody>
        </table>

        <h4 class="pictureViewH4">Picture Tags:</h4>
        {% for t in picture.picturetags_set.all %}
            <a href="/zdjecia/tag/{{ t.picture_tag.slug }}/{{ t.picture_tag.id }}">
                <button type="button" class="btn btn-outline-secondary tagButton">{{ t.picture_tag }}</button>
            </a>
        {% endfor %}
    </div>
</div>


{% include "footer.html" %}